{% extends "main.html" %}

{% block page_name %}
About Cats on Skis
{% endblock %}

{% block content %}
<h3>About Cats on Skis</h3>

<p>
We love Cats on Skis! This is the absolute best place to find information about cats on skis.
</p>

<h3>Your Authors</h3>

<div style="text-align: center; margin-top: 20px;">
    <img src="{{ url_for('images', image='slalom-sammy') }}" width="250" alt="Slalom Sammy the Ski Cat" style="border-radius: 10px;">
    <p style="margin-top: 8px; font-weight: bold; font-size: 1.1em;">Slalom Sammy</p>
</div>


{% endblock %}

